
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: aliceblue;
  background-color: rgba(76, 76, 76, 0.853);
}

.menu{
  display: flex;
  list-style: none;
}

.menu li{
  margin-left: 25px;
}